  <%= image_tag image.attachment.url(:product), :itemprop => 'image', :options => { :data => {toggle => "modal"}, :data => {target => "#img"}} %>
  <div id="img" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <%= image_tag image.attachment.url(:large), :itemprop => "image", :class => "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
