<% if products.any? && params[:controller] == 'spree/products' %>
<div class="row sorting"><div class="col-sm-6 col-sm-offset-6">
  Ordina per:
  <ul class="list-inline">
    <li><%= link_to_unless current_sorting?(:ascend_by_master_price), "Prezzo più basso", params.merge(sorting: :ascend_by_master_price) %></li>
    <li><%= link_to_unless current_sorting?(:descend_by_master_price), "Prezzo più alto", params.merge(sorting: :descend_by_master_price) %></li>
  </ul>
</div></div>
<% end %>
