<p>Dal 1955 coalca propone forniture complete per alberghi, ristoranti, bar, pizzerie, mense.
  Nel suo spazio espositivo sono a disposizione oltre 20,000 articoli.</p>
<p>Coalca offre inoltre servizi di progettazione, assistenza e contract chiavi in mano.
  Per maggiori informazioni visita <a href="http://www.coalca.it">il portale ufficiale</a>.</p>
