<p class="lead">Dal 1955 coalca propone forniture complete per alberghi, ristoranti, bar, pizzerie, mense.
  Nel suo spazio espositivo sono a disposizione oltre 20,000 articoli.</p>
  <p>Coalca è a completa disposizione per la progettazione e la realizzazione, ex novo o parziale,
    di ambienti per ogni tipo di ristorazione: bar, ristoranti, pizzerie, alberghi, pasticcerie,
    gelaterie, mense, pub, macellerie, ecc...  Coalca calibra le soluzioni e ottimizza i costi
    per ogni specifica situazione, dal piccolo ambiente al grande, fino alla realizzazione di grandi
    cucine attrezzate con le più avanzate soluzioni tecnologiche.</p>
    <h4>Da oggi anche online...</h4>
    <p>Coalca da oggi mette a disposizione il meglio del proprio catalogo anche tramite shop online, per
    un servizio ancora migliore.</p>
<p>Per maggiori informazioni sul nostro catalogo e sui nostri servizi in showroom, visita <a href="http://www.coalca.it">il nostro sito ufficiale</a>.</p>

<h3 class='text-center'>Vieni a trovarci</h3>
<iframe
  width="600"
  height="450"
  frameborder="0"
  style="border:0;display:block;margin: 0 auto;"
  src="https://www.google.com/maps/embed/v1/place?q=Coalca%20Srl%2C%20Bresso%2C%20Milan%2C%20Italy&key=AIzaSyAY6tVdVJjKJnR0Fl18R63zTVnFUXXzqB8">
</iframe>
