<div class="col-md-offset-3 address">
  <strong>Coalca s.r.l.</strong> <br/>
  Via G. Clerici, 234 <br/>
  20091 - Bresso (MI) <br/>
  tel. +39 02 2423055 (orari ufficio, dal lunedi al venerdi)<br/>
  fax  +39 02 22478803 <br/>
  <a href="mailto:info@coalca.it">info@coalca.it</a>
</div>

<div id='crmWebToEntityForm' class="col-md-offset-3"><META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>
  <form action='https://crm.zoho.com/crm/WebToContactForm'  name=WebToContacts1151529000000068040 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>
    <input type='text' style='display:none;' name='xnQsjsdp' value='trpYZ-GzgsBthYo@kRl79w$$'/>
    <input type='hidden' name='zc_gad' id='zc_gad' value=''/>  <input type='text' style='display:none;' name='xmIwtLD' value='balTsJvEX3aAo3Ig5lXzNLwCACuz9TKT'/>
    <input type='text'  style='display:none;' name='actionType' value='Q29udGFjdHM='/>
    <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;shop.coalca.it&#x2f;contacts' /> <br>
      <table border=0 cellspacing=0 cellpadding='6' width=600 style='background-color:white;color:black'>
        <tr class="contact-form-line">
          <td colspan='2' align='left'><strong>Contattaci</strong></td>
        </tr> <br>
        <tr class="contact-form-line">
          <td nowrap='nowrap' align='left'  style='width:200px;'>
            Cognome<span style='color:red;'>*</span>
          </td>
          <td style='width:250px;' >
            <input type='text' style='width:250px;'  maxlength='80' name='Last Name' />
          </div>
        </td>
      </tr>
      <tr class="contact-form-line">
        <td nowrap='nowrap' align='left'  style='width:200px;'>
          Nome<span style='color:red;'>*</span>
        </td>
        <td style='width:250px;' >
          <input type='text' style='width:250px;'  maxlength='40' name='First Name' />
        </div>
      </td>
    </tr>
    <tr class="contact-form-line"><td nowrap='nowrap' align='left'  style='width:200px;'>Nome Ditta<span style='color:red;'>*</span> </td><td style='width:250px;' >
      <input type='text' style='width:250px;'  maxlength='100' name='Account Name' /></div>
    </td></tr>
    <tr class="contact-form-line"><td nowrap='nowrap' align='left'  style='width:200px;'>Indirizzo </td><td style='width:250px;' >
      <input type='text' style='width:250px;'  maxlength='250' name='Mailing Street' /></div>
    </td></tr>
    <tr class="contact-form-line"><td nowrap='nowrap' align='left'  style='width:200px;'>Città </td><td style='width:250px;' >
      <input type='text' style='width:250px;'  maxlength='30' name='Mailing City' /></div>
    </td></tr>
    <tr class="contact-form-line"><td nowrap='nowrap' align='left'  style='width:200px;'>Telefono </td><td style='width:250px;' >
      <input type='text' style='width:250px;'  maxlength='50' name='Phone' /></div>
    </td></tr>
    <tr class="contact-form-line"><td nowrap='nowrap' align='left'  style='width:200px;'>E-mail<span style='color:red;'>*</span>
    </td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Email' /></div>
    </td></tr>
    <tr class="contact-form-line"><td nowrap='nowrap' align='left'  style='width:200px;'>La tua domanda<span style='color:red;'>*</span>
    </td><td style='width:250px;' > <textarea style='width:250px;' name='Description' maxlength='1000' width='250' rows="7" ></textarea></td>
    <td></td><tr><td colspan='2' align='center' style='padding-top: 15px;' >
        <input   style='color:black' type='submit'  value='Conferma' />
        <input type='reset'  style='color:black' value='Annulla' /> </td></tr></table>

        <script> var mndFileds=new Array('First Name','Last Name','Account Name','Email','Description');var fldLangVal=new Array('Nome','Cognome','Nome Ditta','E-mail','La tua domanda');function reloadImg(){if(document.getElementById('imgid').src.indexOf('&d') !== -1 ){document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();}else{document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();}}function checkMandatery(){for(i=0;i<mndFileds.length;i++){ var fieldObj=document.forms['WebToContacts1151529000000068040'][mndFileds[i]];if(fieldObj) {if(((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0){alert(fldLangVal[i] +' non può essere vuoto'); fieldObj.focus(); return false;}else if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] +' non può essere nessuno'); fieldObj.focus(); return false;}} else if(fieldObj.type =='checkbox'){ if (fieldObj.checked == false){     alert('Please accept  '+fldLangVal[i]); fieldObj.focus();return false;}}}}}</script>

  </form>
</div>
