<h3>Domande frequenti</h3>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  A quanto ammontano le spese di spedizione?
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              Le spese di spedizioni sono <b>a nostro carico</b> per ordini superiori a 250&euro;. Per ordini sotto i 250&euro;,
              il calcolo dipende dall'ingombro (tipicamente, elettrodomestici e cucine sono soggette a costi superiori rispetto
              ad accessori).
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                  Quali metodi di pagamento accettate?
                </a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
              Coalca Shop accetta carte di credito Mastercard e VISA. Inoltre, è possibile anche acquistare tramite bonifico bancario.
              Contattaci per ulteriori domande!
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Entro quando consegnate i prodotti?
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              La consegna &egrave; soggetta alla disponibilit&agrave; della merce presso i nostri magazzini e presso i nostri fornitori.
              Ci aspettiamo di poter inviare la merce entro 1-3 settimane lavorative dall'ordine. In caso di ritardi, questi verranno
              tempestivamente segnalati
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Dove spedite la merce?
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              In tutta Italia, isole comprese.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  Offrite anche servizi di montaggio ed allacciamento?
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              Non offriamo servizi di montaggio ed allacciamento per i prodotti acquistati attraverso il nostro shop online. &Egrave;
              compito del cliente avvalersi di professionisti qualificati per montaggio ed installazione. (E ricorda di salvare le
              fatture per poterti avvalere della garanzia!).
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                  Quali garanzie offrite?
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              Tutti i prodotti del nostro catalogo online sono nuovi e soggetti a garanzia commerciale di un anno.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                  La merce che ho ricevuto &egrave; difettosa, come posso richiedere un intervento o una sostituzione?
                </a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
              Scrivici immediatamente a <a href="mailto:info@coalca.it">info@coalca.it</a>, oppure invia un fax al numero
              +39 02 22478803, oppure inviaci una raccomandata r.r. <a href="contacts.html">al nostro indirizzo</a>. Ricordati di specificare:
              <ul>
                <li>Come possiamo contattarti (telefono ed email).</li>
                <li>Marca, modello ed eventuali altre informazioni rilevanti dell'oggetto difettoso.</li>
                <li>Il numero d'ordine di riferimento.</li>
                <li>La natura del problema</li>
              </ul>
              Ti risponderemo con le istruzioni per procedere alla riparazione o alla sostituzione.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                  Sono un cliente privato, posso acquistare lo stesso su Coalca Shop?
                </a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
              No, Coalca Shop è dedicato ad imprese commerciali e possessori di Partita IVA.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                  Ho un'altra domanda, come ve la posso fare?
                </a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
              Utilizza <a href="contacts.html">la nostra pagina contatti</a>. Ricordati di inserire i referimenti per poterti ricontattare!
            </div>
        </div>
    </div>
  </div>
