<div>

<h3>Termini e condizioni</h3>

  <div>
    Di seguito vengono elencate le condizioni di vendita per acquistare sul nostro negozio on line di macchinari ed elettrodomestici per grandi cucine.
  </div>

  <ul>
    <li><a href="#oggetto">OGGETTO</a></li>
    <li><a href="#modalita">MODALITA' DI ACQUISTO DEI BENI</a></li>
    <li><a href="#test">TEST</a></li>
  </ul>

  <ol>
    <div>
      <li><a name="oggetto">OGGETTO</a></li>
      <ol>
        <li>Le presenti condizioni generali di vendita online disciplinano il contratto per la
            vendita dei prodotti offerti da Coalca srl, con sede legale in XXX (MI),
            via XXX n. XXX, c.f./p.iva XXXXX, tramite il proprio sito internet www.XXXXXXX.com agli utenti del sito.</li>
      </ol>
    </div>

    <div>
      <li><a name="modalita">MODALITA' DI ACQUISTO DEI BENI</a></li>
        <ol>
          <li>L'acquisto dei beni può essere effettuato tramite:</li>
            <ol>
              <li>Sito internet www.XXXXXX.com previa registrazione obbligatoria dove il Cliente deve indicare i dati personali di fatturazione
                e destinazione della merce. Il Cliente procede quindi all'acquisto tramite selezione degli articoli da inserire nel carrello e seleziona
                il metodo di pagamento desiderato. Successivamente conferma l'acquisto indicando eventuali note aggiuntive nell'apposito spazio riservato.
                Il Cliente provvede, altresì, ad accettare le condizioni generali di vendita indicate nel sito.....
              </li>
              <li>Mail all'indirizzo info@coalca.it dove il Cliente indica i codici degli articoli di suo interesse, i dati personali di fatturazione,
                i dati personali di destinazione ed eventuali note. ....
              </li>
            </ol>
          </ol>
    </div>

    <div>
      <li><a name="test">TEST</a></li>
      <ol>
        <li>elemento 1</li>
        <li>elemento 2</li>
      </ol>
    </div>

  </ol>
</div>
